/* COUNTRIES */
.countries__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  row-gap: 100px;
}

.card-box {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover .card-box__btn {
    transform: translateY(0);
    opacity: 1;
  }

  &:hover .card-box__img-wrapper::before {
    opacity: 0.5;
  }
}

.card-box__img-wrapper {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    inset: 0;
    background-color: #000;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

.card-box__img {
  max-width: 320px;
  height: 213px;
  object-fit: contain;
  object-position: top center;
  width: 100%;
}

.card-box__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 16px 30px;
}

.card-title {
  margin-top: auto;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-text {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.card-box__btn {
  position: absolute;
  top: 50%;
  width: 60%;
  left: 20%;
  transform: translateY(100%);
  opacity: 0;
  cursor: pointer;
  text-align: center;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;font-size: 20px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
